@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Métropole | Stock</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" id="favicon-ico" href="~/Content/template/dist/img/logo/logo.PNG">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/Content/template/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="/Content/template/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/Content/template/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!--Css personnalisé-->
    <link rel="stylesheet" href="~/Content/Style/Style.css">
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="#"><b>Sortie</b> stock</a>
        </div>

        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Inscription</p>
                @if (ViewBag.erreur != null)
                {
                    <div class="erreur_message">
                        <p><i class="fas fa-exclamation-triangle"></i> @ViewBag.erreur</p>
                    </div>
                }
                <form action="/Login/Register/" method="post">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Nom" name="nom">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Prénom(s)" name="prenoms">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Identifiant" name="identifiant">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <select class="form-control" name="poste">
                            @if (ViewData["listePoste"] != null)
                            {
                                foreach (stock.Models.Classe.Stock.Poste poste in ViewData["listePoste"] as List<stock.Models.Classe.Stock.Poste>)
                                {
                                    <option value="@poste.IdPoste">@poste.NomPoste</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <input id="mdp1" type="password" class="form-control" placeholder="Mot de passe" name="mdp1">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <p><div id="message_mdp"></div></p>
                        <input id="mdp2" type="password" class="form-control" placeholder="Confirmation mot de passe" name="mdp2">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <a href="/Login/Index/" class="text-center"><p style="margin-top:6px">Je suis déjà membre</p></a>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary btn-block">Inscription</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
    <!-- jQuery -->
    <script src="/Content/template/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/Content/template/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/Content/template/dist/js/adminlte.min.js"></script>
    <!-- Fichier js -->
    <script src="~/Content/fonctionInscription.js"></script>
</body>
</html>
